# Genel Sistem Dosyaları
.DS_Store
Thumbs.db
*.log

# Node.js (Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build

# React (Frontend)
*.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Java/Spring Boot (Backend)
target/
*.log
*.tmp
*.pid
*.out
*.gz

# Maven
.mvn/
.settings/
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

# IntelliJ IDEA
*.iml
.idea/

# Eclipse IDE
.classpath
.project
.settings/

# MySQL Dump ve Veritabanı Dosyaları (Database)
*.sql
*.bak
*.tar

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# Log Dosyaları
*.log

# Temporary Files
*.swp
*.tmp
*.temp
~*

# Git ile Alakalı
!.gitignore

# Diğer
.vscode/
*.bak
*.lock
