
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('https://img.freepik.com/premium-photo/train-with-white-background-high-quality-ultra-hd_889056-5577.jpg')
      no-repeat center center/cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
 
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  /
  .login-card {
    background: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
    width: 300px;
  }
  
 
  .login-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333; 
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px; 
  }
  
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  .link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
  }
  
  .link-button:hover {
    color: darkblue; /* Hover efekti */
  }
  
  
  .login-button {
    width: 100%;
    padding: 10px;
    background: #1e3c72; /* Mavi renk */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background: #16345a; /* Hover efekti */
  }
  
  
  .register-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .register-link a {
    color: blue;
    text-decoration: underline;
  }
  
  .register-link a:hover {
    color: darkblue;
  }
  
